[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
